body {
  font-size: 14px;
  line-height: 1.47059;
  font-weight: 400;
  font-family: 'PT Serif', serif;
  letter-spacing: 0.07px;
  font-size: 14px !important;
  --webkit-font-smoothing: antialiased;
  color: #1d1d1f;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.grey {
  color: #86868b;
}

.fw-600 {
  font-weight: 600;
}

.strong {
  font-weight: 600;
}

.link {
    color: #06c;
}